
<div class="company-bg">
	
</div>

<div class="custom">
<div class="custom-top clear">
		<div class="img">
			<img src="../images/custom-img1.jpg" alt="">
		</div>
		<div class="text">
			<h2><em></em>绿野</h2>
			<p>成立于1998年的绿野网（www.lvye.cn）一直是户外健康生活方式的推动者</p>
			<p>经过18年的发展<br>
从简单的BBS进化到内容丰富、功能强大的户外社群电商<br>
是集户外综合信息/户外活动平台/移动客户端平台/户外讨论社区/领队培训管理/绿野保险/亲子活动等版块于一体的综合户外门户网站。</p>
<p>绿野网以社群为载体，用互联网的方式，向中国大众户外人群提供内容、活动、装备的一站式综合服务。成为中国户外经济的领导者，创造有温度的体验式旅行。</p>
<p>户外运动正在从极限向休闲、专业向大众转变，逐渐成为人们的一种生活方式！</p>
		</div>
	</div>
<div class="custom-bottom">
	<ul class="clear">
		<li><img src="../images/intro_pic1.jpg" alt=""></li>
		<li><img src="../images/intro_pic2.jpg" alt=""></li>
		<li><img src="../images/intro_pic3.jpg" alt=""></li>
		<li><img src="../images/intro_pic4.jpg" alt=""></li>
	</ul>
</div>
</div>

<div class="chioce">
	
</div>
<div class="ourserver">
	<div class="ourserver-c"></div>
</div>

<div class="onroad">
	<div class="onroad-c">
		<img src="../images/tit.jpg" alt="">
		<div class="threeli">
			<ul class="clear">
				<li><img src="../images/onroad_pic1.jpg" alt=""></li>
				<li><img src="../images/onroad_pic2.jpg" alt=""></li>
				<li><img src="../images/onroad_pic3.jpg" alt=""></li>
			</ul>
		</div>
		<div class="threeli eightli">
			<ul class="clear">
				<li><img src="../images/ahead1.jpg" alt=""></li>
				<li><img src="../images/ahead2.jpg" alt=""></li>
				<li><img src="../images/ahead3.jpg" alt=""></li>
				<li><img src="../images/ahead4.jpg" alt=""></li>
				<li><img src="../images/ahead5.jpg" alt=""></li>
				<li><img src="../images/ahead6.jpg" alt=""></li>
				<li><img src="../images/ahead7.jpg" alt=""></li>
				<li><img src="../images/ahead8.jpg" alt=""></li>
			</ul>
		</div>
	</div>

</div>

<div class="moments">
	<img src="../images/moment-c.jpg" alt="">
</div>
