<div class="header-inner clear">
		<!-- 左浮动区域 -->
                <div class="logo">
                	<img src="images/logo.png" alt="">
                </div>
				<div class="city">
					<span class="city-icon"></span>
					<p class="city-name">
						<span class="name-color">北京</span> 站
					</p>
					<span class="city-arrow">
						<i class="arrow-down"></i>
					</span>
					<div class="city-more">
						<p>北京</p>
						<p>南京</p>
					</div>
				</div>
				<div class="search">
					<input type="text" name="" placeholder="请输入目的地/产品名称">
					<span class="search-icon">
						<i class="my-icon"></i>
					</span>
				</div>

		<!-- 右浮动区域 -->
			<div class="header-right">
			    <a href="login.html">登录</a>
				<span>|</span>
				<a href="reg.html">注册</a>
			</div>
</div>

<div class="nav">
    <!-- nav区 -->
    <div class="nav-inner">
        <a href="index.html">首页</a><a href="skiing.html">滑雪活动</a><a href="driving.html">自驾活动</a><a href="company.html">公司活动</a><a href="#">社区</a><a href="#">户外学院</a>
    </div>
</div>